{% extends 'base.html.twig' %}

{% block title %}Log In!{% endblock %}

{% block body %}

    <main class="form-signin mt-4 p-4">
        <form method="POST" action="{{ path('app_auth_login') }}">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
{% endblock %}
